* {
    margin: 0;
    padding: 0;
}

.div-vermelha {
    position: absolute;
    top: 50px;
    left: 50px;
    width: 200px;
    height: 200px;
    background-color: red;
    z-index: 1;
}
.div-azul {
    position: absolute;
    top: 150px;
    left: 150px;
    width: 200px;
    height: 200px;
    background-color: blue;
    z-index: 1;
}
.div-verde {
    position: absolute;
    top: 100px;
    left: 100px;
    width: 200px;
    height: 200px;
    background-color: green;
    z-index: 2;
}